<%- include('partials/header'); -%>
<div class="container py-md-5 container--narrow">
    <div id="profile">
        <button class="font-awes-profile"><i class="fas fa-user-circle fa-2x"></i></button>
        <p id="pro-name"><%=(typeof title != "undefined" ? title : "")%></p>
    </div>
    <div class="d-flex profile-but">
        <button class="prof-but-elem" id="Posts"><a href="/profile/<%=title%>">Posts: 0</a>  </button>
        <button class="prof-but-elem" style="color: #0060b6;"><a href="/profile/<%=title%>/followers"  style="color: #0060b6;">Followers: 0</a></button>
        <button class="prof-but-elem" style="color: #0060b6;"><a href="/profile/<%=title%>/following"  style="color: #0060b6;">Following: 0</a></button>
    </div>
</div>
<%    posts.forEach(function(post){ %>
    <h1><%= post.title %></h1>
    <p><%= post.content.substring(0,100) + " ..."  %>
     <a href="/posts/<%= post._id%>"">Read More</a>
    </p>
 <%    }) %>
</div>
<script>
    var token = document.cookie;
    console.log(token)
</script>

<%- include('partials/footer'); -%>
